{{!-- The variables from webpack "i.e. htmlWSebpackPlugin.options.title" is from webpack.config.js with the plugin sections settings for new HtmlWebpackPlugin() --}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="{{htmlWebpackPlugin.options.meta.description}}">
	<title>{{htmlWebpackPlugin.options.title}}</title>
	<meta charset="UTF-8">
</head>
<body>
</body>
</html>